/* Контакти */
.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav__link {
    display: flex;
    align-items: center;
    /* display: block; */
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-nav__item:not(:last-child) {
    margin-right: 50px;
}

.contact-nav__icon {
    fill: currentColor;
    margin-right: 10px;
}